.App {
  text-align: center;
}

.logo-desktop {
  max-width: 40px;
  max-header: 40px;
  margin: 0 10px 0 0;
  }

.logo-navbar {
  max-width: 40px;
  max-header: 40px;
  }

.ico-navbar {
  header:90%;
  width: 90%;
    /* animation: bounce infinite 2s ; */
}

.App-logo {
  height: 18vmin;
  margin: 18px;
  pointer-events: none;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* ANIMATION */
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin 2 10s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.animate-bounce {
  animation-name: bounce;
  animation-duration: 2s;
  animation-iteration-count: 5;
  user-select: none;
  height: 16vmin;
  margin: 18px;
  pointer-events: none;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}



/* Pantallas de tamaño 600px o menos (celulares) */
@media screen and (max-width: 600px) {

.animate-bounce {
  animation-name: bounce;
  animation-duration: 2s;
  animation-iteration-count: 5;
  user-select: none;
  height: 18vmin;
  margin: 19px;
  pointer-events: none;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-6px);
  }

  100% {
    transform: translateY(0);
  }
}
}
